<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
        .txt{
            text-align: center;
            margin: 50px
        }
        .tit{
            font-size: 46px
        }
        .txt a{
            color: #dd2534;
            font-weight: bold
        }
    </style>
</head>
<body>
    <div class="txt">
        <h1 class="tit">404</h1>
        <p>1. 请检查您输入的网址是否正确。</p>
        <p>2. 如果您不能确认您输入的网址，请浏览<a href="/">首页</a>，来查看您所访问的网址。</p>
    </div>
</body>
</html>